body: {
	border: solid black 1px;
	padding: 0px;
	margin: 0px;
	color: #999999;
	min-width: 200px;
	height: 400px;
}

#contentsTable > td {
	border: solid black 1px;
	/*background-color: #999999;*/
}

div {
	padding: 0px;
	margin: 0px;
}

p {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

td {
	border-right: solid black 3px;
	font-family: "Verdana", serif, normal;
	font-size: 20px;
}

#head_row {
	background-color: green;
}

#saveFormInput {
	/*display: inline-block;
	width: 100%;*/
}

#contentsTable{
	width: 100%;
	border: solid black 1px;
	cursor: default;
}

#menuBar {
	background-color: #300000;
	min-width: 400px;
	cursor: default;
}

#curDirLabel {
	padding: 0px;
	border: solid black 1px;
	background-color: black;
	cursor: default;
}

#fsDisplay{
	border: inset 1px;
	padding: 0px;
}

#backButton {
	background-color: black;
}

.backButton {
	width: 32px;
	height: 32px;
}

.iconImg {
	width : 19px;
	height : 19px;
}

.curDirToken {
	font-family: "Verdana", serif, normal;
	font-size: 20px;
	cursor: default;
}

.oddfile {
	background-color: #A9B3D1;
	padding: 3px;
	cursor: default;
}

.oddfile.selected {
	background-color: #44D482;
}

.oddfile.selected:hover {
	background-color: #8C1D1D;
}

.oddfile:hover {
	background-color: red;
}

.evenfile {
	background-color: #7D8BBA;
	cursor: default;
}

.evenfile.selected{
	background-color: #269945;
}

.evenfile.selected:hover {
	background-color: #8C1D1D;
}

.evenfile:hover {
	background-color: red;
}

.oddmarker{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #A9B3D1;
	cursor: default;
}

.oddmarker:hover {
	background-color: red;
}

.evenmarker{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #7D8BBA;
	cursor: default;
}

.evenmarker:hover {
	background-color: red;
}

.rightFloat {
	float: right;
	cursor: default;
}

.menuBarToken {
	background-color: #700007;
	display: inline-block;
	padding: 5px;
	margin: 3px;
	margin-right: 0px;
	cursor: default;
	font-family: "Verdana", serif, normal;
	font-size: 20px;
	color: #FF5757;
}

.menuBarToken:hover{
	color: white;
};

#saveFalldown {
	background-color: ;
	cursor: default;
	color: #FF5757;
}

#createFAlldown{
	background-color: #300000;
	cursor: default;
	color: #FF5757;
}